<div [@routerTransition]>
    <div class="jumbotron">
        <h1>SEARCH</h1>
        <p></p>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <form role="form">
                <fieldset class="form-group">
                    <label>Business Card Search - Enter Text</label>
                    <input class="form-control">
                </fieldset>
                <p>
                    <a href="/tables" class="btn btn-primary btn-lg" role="button">Search Business Cards »</a>
                </p>
            </form>

        </div>
    </div>

</div>
