<div [@routerTransition]>
    <div class="jumbotron">
        <h1>HISTORY</h1>
        <p></p>
    </div>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Business Cards Scanned
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Date/Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Shad</td>
                            <td>Taylor</td>
                            <td>shadtaylor@hotmail.com</td>
                            <td>815-786-5645</td>
                            <td>11/20/18 | 2:30PM</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Kaiden</td>
                            <td>Taylor</td>
                            <td>kaidentaylor@hotmail.com</td>
                            <td>815-675-5643</td>
                            <td>11/20/18 | 10:06PM</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Gianna</td>
                            <td>Taylor</td>
                            <td>giannataylor@hotmail.com</td>
                            <td>815-888-9999</td>
                            <td>11/20/18 | 9:00PM</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Scruffy</td>
                            <td>Taylor</td>
                            <td>scruffytaylor@hotmail.com</td>
                            <td>815-777-4545</td>
                            <td>11/20/18 | 8:21PM</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Lulu</td>
                            <td>Taylor</td>
                            <td>lulutaylor@hotmail.com</td>
                            <td>815-999-0909</td>
                            <td>11/20/18 | 7:23PM</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Curly</td>
                            <td>Taylor</td>
                            <td>curlytaylor@hotmail.com</td>
                            <td>815-345-7898</td>
                            <td>11/20/18 | 3:06PM</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</div>
